node_modules
dist
dist-electron
release
*.local
.env
.DS_Store
builder-cache
release-packager
release-packager-v2
release-packager-v3
user-defaults.json
preload-config.json

# Portable builds and installers
CalendarPlus-v*.zip
*.exe
*.msi
*.dmg
*.AppImage
*.deb
*.rpm

# Electron builder cache
.electron-builder-cache
PROJECT_OVERVIEW.md

CalendarPlusWebsite/
